@page "/counter"
@inject IJSRuntime JsRuntime
@* <PageTitle>Counter</PageTitle> *@
<div id="info">
    <h1>What is Wordle?</h1>
    <h2>Wordle is a 5 letter Word Guessing game</h2>
</div>
<a  href="#" class="*" @onclick="PlaySong">button</a>




<div id="Blue">
<h2>if the letter is this color, that means you got the letter in the correct position</h2>
</div>
<br>
<div id="red">
<h2>if the letter is this color that means its in the word, just not in the correct position</h2>
</div>
<div id="pink">
    <h2>if the letter is this color that means it is not in the word</h2>
</div>
@code {

    List<string> songs = new List<string>(15);
    string[] Songs ={
    "..blazor-wordle-main//Wordle//Music//90's flav - call me.mp3",
    "..blazor-wordle-main//Wordle//Music//Flance - Somedays.mp3",
    "..blazor-wordle-main//Wordle//Music//Kanisan x Wishes and Dreams - morning moon.mp3",
    "..blazor-wordle-main//Wordle//Music//kudasai - technicolor.mp3",
    "..blazor-wordle-main//Wordle//Music//kudasai - the girl i havent met.mp3",
    "..blazor-wordle-main//Wordle//Music//j^p^n - amend (second part looped).mp3",
    "..blazor-wordle-main//Wordle//Music//Melatonin.mp3",
    "..blazor-wordle-main//Wordle//Music//Ocean I.mp3",
    "..blazor-wordle-main//Wordle//Music//Let Me Hold You.mp3",
    "..blazor-wordle-main//Wordle//Music//Lavender.mp3",
    "..blazor-wordle-main//Wordle//Music//kudasai - dream of her.mp3",
    "..blazor-wordle-main//Wordle//Music//Peace of Mind.mp3",
    "..blazor-wordle-main//Wordle//Music//Stargazing.mp3",
    "..blazor-wordle-main//Wordle//Music//Brandon Kai - 3 AM.mp3",
    "..blazor-wordle-main//Wordle//Music//__.mp3",

  };
    async Task PlaySong(){
        await JsRuntime.InvokeVoidAsync(identifier: "sound.play");
    }  
    
    

}
