.page[b-i9m34wfgl7] {
    background-color: black;
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-i9m34wfgl7] {
    flex: 1;
}

.sidebar[b-i9m34wfgl7] {
    background-image: linear-gradient(180deg, rgb(0, 0, 0) 72%, #ff019e 92%);
}



    .top-row[b-i9m34wfgl7]  a, .top-row[b-i9m34wfgl7]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-i9m34wfgl7]  a:hover, .top-row[b-i9m34wfgl7]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-i9m34wfgl7]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-i9m34wfgl7] {
        display: none;
    }

    .top-row.auth[b-i9m34wfgl7] {
        justify-content: space-between;
    }

    .top-row[b-i9m34wfgl7]  a, .top-row[b-i9m34wfgl7]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-i9m34wfgl7] {
        flex-direction: row;
    }

    .sidebar[b-i9m34wfgl7] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-i9m34wfgl7] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-i9m34wfgl7]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-i9m34wfgl7], article[b-i9m34wfgl7] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
